<!-- veiculo-form.component.html -->
<div class="flex h-screen bg-gray-100">
  <div class="m-auto w-full max-w-lg">
    <div class="mt-5 bg-white rounded-lg shadow px-5 py-5">
      <h2 class="text-2xl font-semibold mb-4">Cadastro de Veículo</h2>

      <input formControlName="placa" placeholder="Placa (ABC-1234)" class="input-style" />
      <div
        *ngIf="veiculoForm.get('placa')?.touched && veiculoForm.get('placa')?.invalid"
        class="text-red-600 text-sm"
      >
        Placa inválida
      </div>

      <input formControlName="modelo" placeholder="Modelo" class="input-style" />
      <div
        *ngIf="veiculoForm.get('modelo')?.touched && veiculoForm.get('modelo')?.invalid"
        class="text-red-600 text-sm"
      >
        Modelo obrigatório
      </div>

      <input formControlName="marca" placeholder="Marca" class="input-style" />
      <div
        *ngIf="veiculoForm.get('marca')?.touched && veiculoForm.get('marca')?.invalid"
        class="text-red-600 text-sm"
      >
        Marca obrigatória
      </div>

      <input type="number" formControlName="ano" placeholder="Ano" class="input-style" />
      <div
        *ngIf="veiculoForm.get('ano')?.touched && veiculoForm.get('ano')?.invalid"
        class="text-red-600 text-sm"
      >
        Ano inválido
      </div>

      <input
        type="number"
        formControlName="quilometragem"
        placeholder="Quilometragem"
        class="input-style"
      />
      <div
        *ngIf="
          veiculoForm.get('quilometragem')?.touched && veiculoForm.get('quilometragem')?.invalid
        "
        class="text-red-600 text-sm"
      >
        Quilometragem inválida
      </div>

      <div class="flex items-center pt-3">
        <input
          type="checkbox"
          formControlName="status"
          class="w-4 h-4 text-black bg-gray-300 border-none rounded-md focus:ring-transparent"
        />
        <label class="ml-2 text-sm text-gray-900">Ativo</label>
      </div>

      <div class="flex flex-row-reverse mt-5">
        <button (click)="salvar()" class="btn-save">Salvar</button>
        <button (click)="cancelar()" class="btn-cancel mr-3">Cancelar</button>
      </div>
    </div>
  </div>
</div>
