<footer class="bg-[#181818] text-gray-300 h-20 relative overflow-hidden">
  <div class="grid grid-cols-12 h-full items-center px-4 relative z-20">
    <!-- COLUNA 1 (9/12): pista do caminhão -->
    <div class="col-span-9 relative">
      <img src="assets/imagens/Logo_branca.png" class="truck-run" />
    </div>

    <!-- COLUNA 2 (3/12): texto à direita -->
    <div class="col-span-3 flex flex-col justify-center text-right relative">
      <h2 class="text-white text-base font-semibold">Alex Souza Macedo</h2>

      <div class="text-sm">77 99700-5108</div>
    </div>
  </div>
</footer>
