<nav class="bg-[#181818] text-white shadow-lg sticky top-0 z-50 relative overflow-hidden">
  <!-- Caminhão animado no fundo da navbar -->

  <div class="container mx-auto flex justify-between items-center p-4 relative z-20">
    <!-- Logo Fixa -->
    <div class="flex items-center">
      <img src="assets/imagens/Logo_branca.png" class="h-10 w-auto object-contain" />
    </div>

    <!-- Menu Desktop -->
    <div class="hidden md:flex ml-10 flex items-baseline space-x-4">
      <a
        routerLink="/dashboard"
        routerLinkActive="bg-blue-800 text-white"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-blue-800 hover:text-white transition"
      >
        Dashboard
      </a>

      <a
        routerLink="/veiculos"
        routerLinkActive="bg-blue-800 text-white"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-blue-800 hover:text-white transition"
      >
        Veículos
      </a>

      <a
        routerLink="/motoristas"
        routerLinkActive="bg-blue-800 text-white"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-blue-800 hover:text-white transition"
      >
        Motorista
      </a>

      <a
        routerLink="/manutencao"
        routerLinkActive="bg-blue-800 text-white"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-blue-800 hover:text-white transition"
      >
        Manutencão
      </a>
    </div>

    <!-- Perfil -->
    <div class="hidden md:flex items-center space-x-2 relative">
      <span routerLink="/login" routerLinkActive="bg-blue-800 text-white">Login</span>

      <div
        *ngIf="openProfile"
        class="absolute right-0 mt-10 w-48 rounded-md bg-blue-800 py-2 shadow-lg ring-1 ring-black/5"
      >
        <a class="block px-4 py-2 text-sm text-white hover:bg-blue-700">Perfil</a>
        <a class="block px-4 py-2 text-sm text-white hover:bg-blue-700">Configurações</a>
        <a class="block px-4 py-2 text-sm text-white hover:bg-blue-700">Sair</a>
      </div>
    </div>

    <!-- Botão mobile -->
    <div class="md:hidden">
      <button (click)="toggleMobile()" class="text-white text-2xl">☰</button>
    </div>
  </div>

  <!-- Menu Mobile -->
  <div
    *ngIf="openMobile"
    class="md:hidden px-2 pt-2 pb-3 space-y-1 bg-gray-700 text-white0 shadow-lg z-50 relative"
  >
    <a
      routerLink="/dashboard"
      routerLinkActive="bg-blue-700 text-white"
      class="block rounded-md px-3 py-2 text-white hover:bg-blue-700 transition"
    >
      Dashboard
    </a>

    <a
      routerLink="/veiculos"
      routerLinkActive="bg-blue-700 text-white"
      class="block rounded-md px-3 py-2 text-white hover:bg-blue-700 transition"
    >
      Veículos
    </a>

    <a
      routerLink="/motoristas"
      routerLinkActive="bg-blue-700 text-white"
      class="block rounded-md px-3 py-2 text-white hover:bg-blue-700 transition"
    >
      Motorista
    </a>
  </div>
</nav>
