<div class="flex h-screen bg-gray-100">
  <div class="m-auto w-full max-w-lg">
    <div class="mt-5 bg-white rounded-lg shadow px-5 py-5">
      <h2 class="text-2xl font-semibold mb-4">Cadastro de Motorista</h2>

      <input formControlName="nome" placeholder="Nome" class="input-style" />
      <div
        *ngIf="motoristaForm.get('nome')?.touched && motoristaForm.get('nome')?.invalid"
        class="text-red-600 text-sm"
      >
        Nome obrigatório
      </div>

      <input formControlName="cnh" placeholder="CNH" class="input-style" />
      <div
        *ngIf="motoristaForm.get('cnh')?.touched && motoristaForm.get('cnh')?.invalid"
        class="text-red-600 text-sm"
      >
        CNH obrigatória
      </div>

      <select formControlName="categoriaCNH" class="input-style">
        <option value="">Selecione a categoria</option>
        <option *ngFor="let cat of categoriasCNH" [value]="cat">{{ cat }}</option>
      </select>
      <div
        *ngIf="
          motoristaForm.get('categoriaCNH')?.touched && motoristaForm.get('categoriaCNH')?.invalid
        "
        class="text-red-600 text-sm"
      >
        Categoria obrigatória
      </div>

      <input
        formControlName="telefone"
        placeholder="Telefone (99 99999-9999)"
        class="input-style"
      />
      <div
        *ngIf="motoristaForm.get('telefone')?.touched && motoristaForm.get('telefone')?.invalid"
        class="text-red-600 text-sm"
      >
        Telefone inválido
      </div>

      <div class="flex items-center pt-3">
        <input
          type="checkbox"
          formControlName="status"
          class="w-4 h-4 text-black bg-gray-300 border-none rounded-md focus:ring-transparent"
        />
        <label class="ml-2 text-sm text-gray-900">Ativo</label>
      </div>

      <div class="flex flex-row-reverse mt-5">
        <button (click)="salvar()" class="btn-save">Salvar</button>
        <button (click)="cancelar()" class="btn-cancel mr-3">Cancelar</button>
      </div>
    </div>
  </div>
</div>
